// variable declarations
$window-padding : 30px;
$color-1 : #0daad1;
$color-2 : #60666b;


/**
 * Site Nav
 */
.nav-primary {
    width: 15%;
    float: left;
    padding-top: $window-padding;
    text-transform: uppercase;
    font-size: 11px;

    ul {
        list-style: none;

        li {
            a {
                color : $color-2;
                transition : color 0.3s;
                &:hover {
                    color : darken($color-2, 20%);
                    text-decoration : none;
                    transition : color 0.3s;
                }
                &.active {
                    font-style : italic;
                }
            }
        }
    }
}

/**
 * Main Section
 */
.main-content {
    width: 85%;
    float: left;
    padding: $window-padding;
    // position: relative;

    .img-container {
        img {
            width: 30%;
            padding: 3px;
            border: 1px solid #d1d1d1;

            &:nth-child(3n+2) {
                margin: 1%;
            }
        } 
    }

    .info-container {
        display: none;
        background-color: #fbfbf;
        width: 100%;
        height: 100%;

        .large-img {
            width: 50%;
            float: left;
        }

        .photo-info {
            width: 50%;
            float: left;
            position: relative;

            p.close {
                opacity: 0.5;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                color: red;
            }

            .map-container {
                width: 60%;
                height: 200px;
                margin: 0 auto;
            }
        }
    }
}

/**
* About Page
*/
.about-photo {
    width: 20%;
    border: none;
    border-radius: 50%;
    float: right;
    margin-right: 50px;
}